.shopify-hero{
    background: rgb(37,26,251);
    background: linear-gradient(90deg, rgba(37,26,251,1) 0%, rgba(10,235,218,1) 87%);

    h2{
    font-size: 50px;
    color:#fff;
    font-weight: 700;
    }
    p{
        font-size: 18px;
        color:#fff;
        font-weight: 500;
    }
    button{
        background:#fff;
        border-radius: 50px;
        color:#2800FF;
        font-size: 18px;
        font-weight: 500;
        padding:10px 30px;
        border:2px solid #fff;
    }
    button:hover{
     background: #0000;
     border:2px solid #fff;
     color:#fff;
    }
}

.leading-shopify{
 h2{
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
 }
 p{
    font-size: 18px;
    color:#000;

 }
}
.shopify-why, .shop-deveser{
    h2{
        color: #262250;
        font-family: "Poppins", Sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
    }
    p{
        color: #5A5A5A;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    ul{
        padding: 0px;
    }
    li{
        list-style: none;
    color: #5A5A5A;
    font-size: 17px;
    }
    svg{
        color:#2800FF;
    }
}
.shopify-weoffer{
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(216, 214, 214, 0.7);
    text-align: center;
    height: 340px;
    margin-top:20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    h3{
        color: #4D4D4D;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 14px;
        color: #7a7a7a;  
    }
   
}
.shopify-weoffer:hover{
    transform: translate3d(0, -15px, 10px) !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}


// Accordian

.FrequentlyAskedQuestions-Accordion .accordion-item{
    margin-bottom: 10px;
  } 
  
  
  .FrequentlyAskedQuestions-Accordion .accordion-button{
    color: rgb(0, 32, 96);
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: 600;
  }
  
  .FrequentlyAskedQuestions-Accordion .accordion-body{
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .frequentlyaskedquestions-main h1 {
    color: #0A1F5F;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 45px;
}

.FrequentlyAskedQuestions-Accordion .accordion-button{
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
  }
  
  .FrequentlyAskedQuestions-Accordion .accordion-button::after {
    // background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203A !important;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button:not(.collapsed)::after {
    // background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203A !important;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button::after {
    transition: all 0.5s;
  }
  
  @media screen and (max-width: 768px) {
    .FrequentlyAskedQuestions-header h1{
      font-size: 24px;
    }
    .frequentlyaskedquestions h1{
        font-size: 25px;
    }
  }
  .frequentlyaskedquestions-main {
    h1{
        color: #0A1F5F;
        font-family: "Poppins", Sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 45px;
    }
    p{
        font-size: 16px;
        color:#000;
    }
  }

  @media screen and (max-width:768px){
    .shopify-hero h2 {
        font-size: 18px;
       
    }
    .shopify-hero p{
        font-size: 10px;
    }
    .shopify-hero button{
        font-size: 12px;
        padding:5px 20px;
    }
    .shopify-hero{
        padding-top:30px;
        padding-bottom: 30px;
    }
    h2{
  font-size: 25px !important;
  line-height: 30px !important;
    }
  }

  @media screen and (min-width:768px) and (max-width:1024px){
    .shopify-hero h2{
        font-size: 30px;
    }
    .shopify-hero{
       padding-top:30px;
       padding-bottom: 30px;
    }
  }