.element-app .android-app-gallery-slider-banner {
    position: absolute !important;
    top: 534px;
    left: 1006px;
    z-index: 0 !important;
}

@media screen and (max-width: 321px) {
    .element-app .android-app-gallery-slider-banner {
        position: absolute !important;
        top: 359px;
        left: 175px;
        z-index: 0 !important;
        width: 150px;
    }
}

@media screen and (min-width: 322px) and (max-width: 376px) {
    .element-app .android-app-gallery-slider-banner {
        position: absolute !important;
        top: 356px;
        left: 212px;
        z-index: 0 !important;
        width: 150px;
    }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
    .element-app .android-app-gallery-slider-banner {
        position: absolute !important;
        top: 386px;
        left: 256px;
        z-index: 0 !important;
        width: 150px;
    }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
    .element-app .android-app-gallery-slider-banner {
        position: absolute !important;
        top: 517px;
        left: 441px;
        z-index: 0 !important;
        width: 231px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
    .element-app .android-app-gallery-slider-banner {
        position: absolute !important;
        top: 547px;
        left: 623px;
        z-index: 0 !important;
        width: 231px;
    }
}

.android-app-development-banner-image {
    background-image: url('../../../public/webdads/images/android-app-development/Banner-background.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
}

@media screen and (max-width: 767px) {
    .android-app-development h1 {
        font-size: 20px !important;
    }

    .android-app-development p {
        font-size: 12px !important;
    }
}

/* .android-app-development {
  padding: 60px 0px;
} */

.android-app-development h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.android-app-development p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.android-app-development button {
    color: #3114cc;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 10px 30px;
    border-radius: 50px;
}

.android-app-development button:hover {
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.android-app-development img {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .android-app-development h1 {
        font-size: 35px;
    }
    .android-app-development button {
        font-size: 12px;
    }
}

/* slider */
.android-app-development-slider {
    display: flex;
    flex-direction: row;
    border: 1px solid #ececec;
    border-radius: 5px 5px 5px 5px;
}

.android-app-development-slider img {
    width: 100%;
    height: auto;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }

    .android-app-development-slider img {
        width: 100px;
        padding: 5px;
    }
}

/* AndroidAppDevelopmentServices */

.AndroidAppDevelopmentServices {
    margin: 60px 0px;
}

.AndroidAppDevelopmentServices h1 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.AndroidAppDevelopmentServices p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
    .AndroidAppDevelopmentServices {
        margin: 30px 0px;
    }

    .AndroidAppDevelopmentServices h1 {
        font-size: 25px;
    }
}

/* AndroidAppServices */

.AndroidAppServices-backgrount-color {
    background: #f1f1f1;
    padding: 60px 0px;
}

/* .AndroidAppServices{
    padding: 60px 0px;
  } */

.AndroidAppServices-content h2 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.AndroidAppServices-content p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
    .AndroidAppServices-content h1 {
        font-size: 25px;
    }

    .AndroidAppServices-backgrount-color {
        padding: 30px 0px;
    }
}

/* card */

.AndroidAppServices .card {
    width: auto;
    height: 300px;
    perspective: 900px;
    margin-bottom: 30px;
    background: #fff;
    /* background: #fffafa; */
    border: 0px solid;
}

.AndroidAppServices .content {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px 0 rgba(216, 214, 214, 0.7);
    border: 1px solid rgba(216, 214, 214, 0.7);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
    background: #f1f1f1;
}

.AndroidAppServices h5 {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    color: #000;
    text-align: center;
    font-size: 60px;
    border-radius: 50px 5px;
    backface-visibility: hidden;
    border: 2px solid #262250;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back {
    border: 2px solid #262250;
    background: #f1f1f1;
    color: #000;
    transform: rotateY(180deg);
}

.AndroidAppServices p {
    /* padding: 85px 30px ; */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 5px;
}

.AndroidAppServices img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

@media screen and (max-width: 750px) {
    .card {
        margin-bottom: 10px;
    }
}

/* AndroidApplicationDevelopmentServices */
.AndroidApplicationDevelopmentServices {
    margin: 60px 0px;
}

.AndroidApplicationDevelopmentServices h1 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

.AndroidApplicationDevelopmentServices p {
    text-align: justify;
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.8;
}

.AndroidApplicationDevelopmentServices-flex-contend a {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding: 8px;
    line-height: 1.8;
}

.AndroidApplicationDevelopmentServices-flex-contend .AndroidApplicationDevelopmentServices-flex-contend-icon {
    color: #262250;
    font-size: 18px;
}

@media screen and (max-width: 750px) {
    .AndroidApplicationDevelopmentServices {
        margin: 30px 0px;
    }

    .AndroidApplicationDevelopmentServices h1 {
        font-size: 25px;
    }

    .AndroidApplicationDevelopmentServices p {
        padding: 0px;
    }

    .AndroidApplicationDevelopmentServices-flex-contend a {
        font-size: 10px;
        padding: 8px 0px;
    }

    .AndroidApplicationDevelopmentServices-flex-contend .AndroidApplicationDevelopmentServices-flex-contend-icon {
        font-size: 14px;
    }
    .AndroidApplicationDevelopmentServices-flex-contend:first-child {
        flex-direction: column;
    }
}

/* Webdads2uTechnologies */
.Webdads2uTechnologies {
    background: #f5f5f5;
    padding: 60px 0px;
}

.Webdads2uTechnologies-heading h1 {
    color: #0a1f5f;
    font-family: 'Roboto', Sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.Webdads2uTechnologies-heading p {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.Webdads2uTechnologies-card .card {
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    height: 100%;
    min-height: 380px;
    /* max-height: 350px; */
    max-height: 480px;
}

.Webdads2uTechnologies-card h2 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.Webdads2uTechnologies-card p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 750px) {
    .Webdads2uTechnologies {
        padding: 30px 0px;
    }

    .Webdads2uTechnologies-heading h1 {
        font-size: 25px;
    }
}

/* Social-Media */

.SocialMedia-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../public/webdads/images/android-app-development/responsive-img.png);
    background-attachment: fixed;
    /* height: auto; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
}

.SocialMedia-header h1 {
    color: #fff;
    font-family: 'Poppins', Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.SocialMedia-header p {
    color: #fff;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.SocialMedia-icons-items img {
    width: 200px;
    height: 16px;
}

.SocialMedia-icons-items li {
    list-style-type: none;
}

.SocialMedia-icons-items .icon-social-media {
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 50px 50px 50px 50px;
    border-width: 2px 2px 2px 2px;
    padding: 5px 0px;
    width: 50px;
    height: 50px;
    margin: 2px;
}

@media screen and (max-width: 768px) {
    .SocialMedia-icons-items img {
        text-align: center !important;
    }
}

/* TypesofCustomAndroid */

.TypesofCustomAndroid {
    background: #ffffff;
}

/* AndroidApp */

.AndroidApp-banner {
    background-color: transparent;
    background-image: linear-gradient(121deg, rgb(77, 5, 177) 0%, rgb(44, 214, 249) 100%);
    padding: 60px 0px;
}

.AndroidApp h1 {
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    font-size: 45px;
    font-weight: 600;
}

.AndroidApp p {
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.AndroidApp button {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 18px 40px;
}

.AndroidApp button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
    .AndroidApp-banner {
        padding: 30px 0px;
    }

    .AndroidApp h1 {
        font-size: 25px;
    }

    .AndroidApp button {
        font-size: 14px;
    }
}

/* FrequentlyAskedQuestions */
.FrequentlyAskedQuestions-banner {
    background: #f1f1f1;
    padding: 60px 0px;
}

.FrequentlyAskedQuestions h2 {
    color: rgb(10, 31, 95);
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.FrequentlyAskedQuestions p {
    color: rgb(0, 0, 0);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.FrequentlyAskedQuestions-Accordion .accordion-item {
    margin-bottom: 10px;
}

.FrequentlyAskedQuestions-Accordion .accordion-button {
    color: rgb(0, 32, 96);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.FrequentlyAskedQuestions-Accordion .accordion-body {
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.FrequentlyAskedQuestions-Accordion .accordion-button {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
}

.FrequentlyAskedQuestions-Accordion .accordion-button::after {
    background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203a !important;
}

.FrequentlyAskedQuestions-Accordion .accordion-button:not(.collapsed)::after {
    background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203a !important;
}

.FrequentlyAskedQuestions-Accordion .accordion-button::after {
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    .FrequentlyAskedQuestions-header h1 {
        font-size: 24px;
    }
}
