:root{
    --color000000: #000000;
    --color262250: #262250;
    --weight500: 500;
    --weight600: 600;
}
.landing-page-p{
    color: var(--color000000);
    font-weight: var(--weight500);
    font-size: 16px;
}

.landing-page-h3{
    color: var(--color262250);
    font-weight: var(--weight600);
}

.learn-more-link{
    transition: all 0.5s ease;
}

.learn-more-link:hover{
    transform: scale(1.03);
}


@media screen and (max-width:767px){
    .landing-page-h3{
        font-size: 20px;
    }

}

@media screen and (max-width:576px){
    .css-cnry15-MuiContainer-root{
        padding: 0;
    }

    .css-1lt5qva-MuiCardContent-root:last-child{
        padding: 0;
    }
    
}