/* .logo-slider {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.swiper {
  width: 100%;
  margin-bottom: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 120px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.bottom-row {
    margin-top: 30px;
} */


.logo-slider {
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
  background: #F9F9F9;
}

.logo-slider img {
  width: 100px;
  height: auto;
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-slider img:hover {
  transform: scale(1.1);
  opacity: 1;
}



.desktop-slider {
  display: block;
}

.mobile-slider {
  display: none;
}

.swiper-wrapper {
  margin-bottom: 50px;
}

.about-more-button{
  
  background-color: transparent;
  border: 1px solid #8B8B8B;
  padding: 7px 35px;
  border-radius: 5px;
  margin-top: 30px;
}

.button-about-sec{
  display: flex;
  justify-content: center;
}


/* offing border for counter */
.css-1t6wq4q-MuiPaper-root-MuiCard-root{
  box-shadow: none;
}


/* Responsive for mobile */
@media (max-width: 768px) {
  .desktop-slider {
    display: none;
  }

  .mobile-slider {
    display: block;
  }

  .logo-slider img {
    width: 80px;
  }

  .logo-slider{
    background-color: #FCF9EA;
  }
}
