.brochure-page-heading-image {
    background-image: url('/webdads/images/brochure/portfolio-banner.webp');
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.brochure-page-heading-image::before {
    position: absolute;
    background-color: #00000065;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
}
.brochure-page-container {
    position: relative;
}

.brochure-page-heading-image > .brochure-page-containe {
    display: flex;
    flex-wrap: initial;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
}
.brochure-page-heading,
.brochure-page-paragraph,
.brochure-page-buttonWrapper {
    color: #fff;
    font-family: 'Poppins', Sans-serif;
    text-align: center;
}
.brochure-page-heading,
.brochure-page-heading2 {
    color: #fff;
    font-family: 'Poppins', Sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-bottom:10px;
    letter-spacing: 1.2px;
    text-align: center;
}

.brochure-page-paragraph,
.brochure-page-paragraph2 {
    font-size: 22px;
    color: #fff;
    text-align: center;
}
.brochure-page-buttonWrapper {
    border: #fff;
    color: #fff;
}
.brochure-page-buttonWrapper > button {
    // background-color:  rgb(0, 0, 0);
    background: transparent;
    border-style: solid;
    border-radius: 0 0 0 0;
    padding: 18px 40px 18px 40px;
    border: 2px solid rgb(255, 255, 255);
    a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

.brochure-page-buttonWrapper > button:hover {
    background-color: #ffffff;
    border-style: solid;
    border: 2px solid rgb(255, 255, 255);
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

.brochure-page-heading2 {
    padding: 43px 0px 0px 0px;
}
.brochure-page-paragraph2 {
    padding-bottom: 43px;
}

//===========================================================
//===========================================================
//===========================================================
//===========================================================
//===========================================================
.loadmore-section {
    column-width: 500px;
    column-gap: 10px;
    padding: 5px;
    width:80%;
    margin:auto;
    img {
        margin-bottom: 5px;
    }
}

// section img {
.loadmore-section img {
    width: 100%;
    cursor: pointer;
}

// .lightbox {
.loadmore-section-lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background: #7f8c8d;
    perspective: 1000;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease;
}

// .lightbox.show {
.loadmore-section-lightbox.show {
    display: block;
    opacity: 1; /* Fully visible when shown */
}

// .filter {
.loadmore-section-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    opacity: 0.5;
    background-position: center;
    background-size: cover;
}

// .lightbox img {
.loadmore-section-lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    max-height: 80vh;
    max-width: calc(50vw - 100px);
    transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
    transform-style: preserve-3d;
}

// .arrow {
.loadmore-section-arrow {
    height: 200px;
    width: 50px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

// .arrow:after {
.loadmore-section-arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 15px;
    height: 15px;
}

// .arrowr {
.loadmore-section-arrowr {
    position: relative;
    top: 50%;
    right: 0;
}

// .arrowr:after {
.loadmore-section-arrowr:after {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

// .arrowl {
.loadmore-section-arrowl {
    position: relative;
    left: 0;
    top: 50%;
}

// .arrowl:after {
.loadmore-section-arrowl:after {
    border-left: 1px solid white;
    border-top: 1px solid white;
}

// .close {
.loadmore-section-close {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    margin: 20px;
    cursor: pointer;
}

// .close:after,
// .close:before {
.loadmore-section-close:after,
.loadmore-section-close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #e74c3c;
}

// .close:after {
.loadmore-section-close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

// .close:before {
.loadmore-section-close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

// .title {
.loadmore-section-title {
    font-size: 20px;
    color: #000;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

// // Image hover effect

// .loadmore-section img{

// .loadmore-section img:hover{
//     opacity:1;
//     background: rgba(0,0,0,0.7);
//     position: absolute;
//     height: 99%;
//     width: 100%;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: 0;

//     -webkit-transition: all 0.4s ease-in-out 0s;
//     -moz-transition: all 0.4s ease-in-out 0s;
//     transition: all 0.4s ease-in-out 0s;
// }
// }

.image-wrapper {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 10px; // Ensures the overlay doesn't overflow outside the image

    img {
        width: 100%; // Adjust width as needed
        height: auto; // Maintain aspect ratio
        display: block;
        transition: transform 0.4s ease; // Optional: Add a transition for the image if needed
    }

    .overlay {
        background: rgba(0, 0, 0, 0.7); // Overlay color
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0; // Start fully transparent
        // transition: opacity 0.4s ease;
        -webkit-transition: 0.6s all ease;
        transition: 0.6s all ease;
        transform: scale(0.8);
        // Smooth transition for opacity
    }

    &:hover .overlay {
        opacity: 1;
        transition: 0.6s all ease;
        transform: scale(1); // Fade in the overlay on hover
    }
}
.load-more-button-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom:20px ;
    .load-more-button {
        font-family: 'Poppins', Sans-serif;
        font-size: 18px;
        font-weight: 600;
        background: transparent;
        border:2px solid #fff;
        color: #fff;
        padding: 10px 20px;
        
    }
}
