h2{
    color: #262250;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
   
}
.ecommerce-baner{
    background-image: url('/webdads/images/ecommerce/ecommerce-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;

h2{
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    max-width: 60%;
    margin: auto;
}
button{
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    padding: 13px 40px;
    margin-top:30px;
    font-size: 18px;
    font-weight: 600;
}
img{
    width:100%;
}
}


.strm-bg{
    background-color: transparent;
    background-image: linear-gradient(180deg, #1B265E 44%, #1B36A7 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 20px 30px 20px;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 20px;
h3{
    color: #FFF;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}
a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

}
.strm-box{
    width: 65%;
    margin: auto;
    border-style: solid;
    border-width: 0 2px 2px 2px;
    border-color:transparent;
   
    img{
        padding-top:20px;
    }
}
.strm-box:hover{
    border-style: solid;
    border-width: 0 2px 2px 2px;
    border-color: #FFF;
    border-radius: 0 0 20px 20px;
}

.all-you{
    padding-top:30px;
    h2{
        color: #262250;
        font-family: "Poppins", Sans-serif;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
    h3{
        color: #000;
        font-family: "Poppins", Sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        max-width: 70%;
        margin: auto;
    }
    p{
        padding-top: 20px;
        font-size: 18px;
        max-width: 90%;
        // margin: auto;
        color: #000;
        padding-bottom: 20px;
        text-align: center;
    }
    button{
        background-color: #001F5F;
        border-radius: 5px 5px 5px 5px;
        padding: 10px 40px 10px 40px;
        color:#fff;
        font-weight: 500;
    }
    img{
        transition-duration: .3s;
        transition-property: transform;
        transition-timing-function: ease-out;
    }
    img:hover{
        transform: translateY(-8px);
    }
}
.ecommerce-website{
    background:#F0F0FC;
    padding-top:60px;
    padding-bottom:60px
}
.Feature-sec{
    padding-top:60px;
    h2{
        color:#000;
    }
}

.vendor-left  {
    img{
        padding: 20px 20px 20px 20px;
        background-color: #001F5F;
        border-radius: 30% 70% 70% 30% / 40% 60% 40% 60% !important;
        transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
    }
    h3{
        color: #262250;
        font-family: "Poppins", Sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding-top:10px;
    }
}
.vendor-right:hover, .vendor-left:hover {
    img{
        border-radius: 50% !important;  
    }
}
.vendor-right{
    img{
        padding: 20px 20px 20px 20px;
        background-color: #7B1753;
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40% !important;
        transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
    }
    h3{
        color: #262250;
        font-family: "Poppins", Sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding-top:10px;
    }
}
.color-chng{
    .vendor-left{
        img{
            background:#7B1753;
        }
    }
 .vendor-right {
        img{
            background-color: #001F5F;
        }
    }
}
.m-commerce{
    background-image: url('/webdads/images/ecommerce/second-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
   
    h2, h3, p{
        color:#fff;
    }
    li{
        list-style: none;
        color:#fff;
        font-size: 18px;
        padding-top:5px;
        padding-bottom:5px;
        font-weight: 600;
    }
    h2{
        padding-top:50px;
    }
    img{
        margin-top:-50px;
        width:100%;
        animation: movescale 3s linear infinite;
    }
}
@keyframes movescale{
    0% {
        transform: scale(.9);
    }
    
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(.9);
    }
    }

    @keyframes movescale{
        0% {
            transform: scale(0.87);
        }
        
        50% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(0.87);
        }
    }
    .social-left{
        background-image: url('/webdads/images/ecommerce/social-rect.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    }

.w-20{
width:20%;
}
    @media screen and (max-width:768px){
        .ecommerce-baner{
            h2{
                max-width:100%;
                font-size: 30px;
            }
        }
        .all-you{
            img{
                width:100%;
            }
        }
        .social-left{
            background-position: bottom;
        }
        .social-left{
            .shipping{
             display: block !important;
            }
        }
        .w-20{
            width:100%;
            }
    }