h2{
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
}
p{
    color: #7a7a7a;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}

.customizeerphero{
    background: rgb(41,174,170);
background: linear-gradient(90deg, rgba(41,174,170,1) 49%, rgba(187,252,198,1) 100%);
padding-bottom: 80px;
padding-top:60px;
    h2{
    font-size: 45px;
    color:#fff;
    font-weight: 700;
    }
    p{
        font-size: 18px;
        color:#fff;
        font-weight: 500;
    }
    button{
        background:#fff;
        border-radius: 50px;
        color:#29aeaa;
        font-size: 18px;
        font-weight: 500;
        padding:10px 30px;
        border:2px solid #fff;
    }
    button:hover{
     background: #0000;
     border:2px solid #fff;
     color:#fff;
    }
}
.android-app-development-slider{
    margin-top:-50px; 
    background:#fff;
  }

  .crm-auto{
    display: flex;
    align-items: center;
    column-gap:5px;

    h3{
        margin-bottom: 0;
        color: #000;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
    p{
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 20px;
    }
  }
  .our-cuscrm .shopify-weoffer{
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(216, 214, 214, 0.7);
    text-align: center;
    height: 370px;
    margin-top:30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    h3{
        color: #4D4D4D;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 14px;
        color: #7a7a7a;  
    }
   
}
.our-cuscrm .shopify-weoffer:hover{
    transform: translate3d(0, -15px, 10px) !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.looking-wecomm{
    background-color: transparent;
    background-image: linear-gradient(121deg, #18A5A7 0%, #BFFFC7 100%);
    padding-top:60px;
    padding-bottom: 60px;

    P{
        font-size: 18px;
        color: #fff;
    }
    button{
        background: #fff;
    font-size: #000;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    padding: 10px 30px;
    border:2px solid #fff;
    }
    button:hover{
        border:2px solid #fff;
        background:transparent;
        color:#fff;
    }
    h2{
        color: #FFF;
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
    }
}

// Accordian

.FrequentlyAskedQuestions-Accordion .accordion-item{
    margin-bottom: 10px;
  } 
  
  
  .FrequentlyAskedQuestions-Accordion .accordion-button{
    color: rgb(0, 32, 96);
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: 600;
  }
  
  .FrequentlyAskedQuestions-Accordion .accordion-body{
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .frequentlyaskedquestions-main h1 {
    color: #0A1F5F;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 45px;
}

.FrequentlyAskedQuestions-Accordion .accordion-button{
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
  }
  
  .FrequentlyAskedQuestions-Accordion .accordion-button::after {
    // background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203A !important;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button:not(.collapsed)::after {
    // background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203A !important;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button::after {
    transition: all 0.5s;
  }
  
.crmfaq{
    width:80%;
    margin:auto;
}

@media screen and (max-width:768px){
    .customizeerphero  {
        h2{
            font-size: 15px !important;
        }
    p{
        font-size: 10px !important;
        line-height: 20px !important;
    }
    button{
        display: none;
    }
  }
  h2{
    font-size: 25px !important;
    padding-top:10px;
  }
  p{
    font-size: 14px !important;
    line-height: 25px !important;
  }
  .SocialMedia-header h1 {
font-size: 30px;
}
.our-cuserp .shopify-weoffer {
    height: 340px;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-body {
    font-size: 13px;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button {
   font-size: 14px;
}
.crm-auto{
    display: block;
    text-align: center;
    margin-bottom: 20px; 
}
.crmfaq{
    width:100%;
}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .customizeerphero h2{
        font-size: 30px;
    }
    .customizeerphero p{
        font-size: 14px;
    }
    .android-app-development-slider h1{
     font-size: 15px;
   padding: 10px;
    margin-right: 10px;
    }
    .our-cuserp .shopify-weoffer p {
    font-size: 13px;
    }
}