/* customwebdesignbanner */
.customwebdesignbanner-main {
    background-image: url(../../../public/webdads/images/custom-web-design/Banner-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
}

.custom-banner-image {
    background-image: url(/_next/static/media/Img-background.a84a4451.png);
    background-position: 38px -48px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px 0px;
}

.customwebdesignbanner-main .element-circle {
    position: absolute;
    left: 0;
}

.customwebdesignbanner h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.customwebdesignbanner p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.customwebdesignbanner button {
    color: #fff;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 8px 25px;
}

.customwebdesignbanner button:hover {
    color: #000;
    background: #fff;
}

.customwebdesignbanner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .customwebdesignbanner-main {
        padding: 30px 0px;
    }

    .customwebdesignbanner-main {
        padding: 30px 0px;
    }

    .customwebdesignbanner h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 426px) {
    .customwebdesignbanner h1 {
        font-size: 20px !important;
    }

    .customwebdesignbanner p {
        font-size: 11px !important;
    }

    .custom-banner-image {
        background-position: 0 0;
        padding: 38px 0px;
    }
}
/* Whywebdads2u */

.whywebdads2u-main {
    padding: 60px 0px;
}

.whywebdads2u h2 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.whywebdads2u p {
    text-align: left;
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.whywebdads2u img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 767px) {
    .whywebdads2u-main {
        padding: 30px 0px;
    }

    .whywebdads2u h2 {
        font-size: 25px;
    }
}

/* customwebdesignservices */
.customwebdesignservices-main {
    padding: 60px 0px;
    background: #f2f9ff;
}

.customwebdesignservices-card .mb-5 {
    margin-bottom: 4rem !important;
}

.customwebdesignservices h3 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.customwebdesignservices p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.customwebdesignservices-card img {
    width: 100px;
    border-radius: 100%;
    border: 10px solid #f5f5f5;
    background: #fff;
    box-shadow: 1px 0 5px #ccc;
    margin-bottom: 15px;
}

.customwebdesignservices-card .text-area {
    background: #fff;
    box-shadow: 1px 0 5px #ccc;
    border: 1px solid #fff;
    padding: 20px;
    margin-top: -65px;
    padding-top: 60px;
    border-radius: 10px;
    height: 100%;
}

.customwebdesignservices-card .text-area:hover {
    background: linear-gradient(-225deg, #fffeff 0, #f4fcff 100%);
    box-shadow: 1px 0 20px #ccc;
    border: 1px solid #6cd1ff;
}

.customwebdesignservices-card h4 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.customwebdesignservices-card p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 769px) {
    .customwebdesignservices-main {
        padding: 30px 0px;
        background: #f2f9ff;
    }

    .customwebdesignservices h3 {
        font-size: 25px;
    }
}

/* whychoosewedads2u */
.whychoosewedads2u-main {
    padding: 60px 0px;
}

.whychoosewedads2u img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whychoosewedads2u h4 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.whychoosewedads2u p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.whychoosewedads2u li {
    color: #5a5a5a;
    list-style-type: none;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.whychoosewedads2u .checkbox-icon {
    color: #6ec1e4;
    font-size: 17px;

    margin-right: 8px;
}

@media screen and (max-width: 769px) {
    .whychoosewedads2u-main {
        padding: 30px 0px;
    }

    .whychoosewedads2u h4 {
        font-size: 25px;
    }
}

/* Lookingforcustomwebdesign */

.lookingforcustomwebdesign-main {
    padding: 60px 0px;
    background-color: transparent;
    background-image: linear-gradient(78deg, #ae52aa 0%, #5a7bcb 100%);
}

.lookingforcustomwebdesign h5 {
    color: #ffffff;
    font-family: 'Poppins', Sans-serif;
    font-size: 45px;
    font-weight: 600;
}

.lookingforcustomwebdesign p {
    color: #ffffff;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.lookingforcustomwebdesign button {
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 18px 40px;
}

.lookingforcustomwebdesign button:hover {
    color: #fff;
    background: transparent;
}

@media screen and (max-width: 769px) {
    .lookingforcustomwebdesign-main {
        padding: 60px 0px;
    }

    .lookingforcustomwebdesign h5 {
        font-size: 25px;
    }
}

/* FQcustomwebdesign */
.FQcustomwebdesign-main {
    padding: 60px 0px;
    background: rgb(241, 241, 241);
}

.FQcustomwebdesign h1 {
    color: #0a1f5f;
    font-family: 'Poppins', Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.FQcustomwebdesign p {
    color: #000000;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.FQcustomwebdesign-Accordion .accordion-item {
    margin-bottom: 10px;
}

.FQcustomwebdesign-Accordion .accordion-button {
    color: rgb(0, 32, 96);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.FQcustomwebdesign-Accordion .accordion-body {
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.FQcustomwebdesign-Accordion .accordion-button {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
}

.FQcustomwebdesign-Accordion .accordion-button::after {
    background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203a !important;
}

.FQcustomwebdesign-Accordion .accordion-button:not(.collapsed)::after {
    background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203a !important;
}

.FQcustomwebdesign-Accordion .accordion-button::after {
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    .FQcustomwebdesign-header h1 {
        font-size: 24px;
    }

    .frequentlyaskedquestions h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 426px) {
    .home-taps-business > div > .MuiTabs-list.MuiTabs-flexContainer.MuiTabs-centered.css-1hqdth1-MuiTabs-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        background-color: #0a1f5f;
    }
    .home-taps-business > div {
        background-color: #6cd1ff !important;
    }
}
