.about-page-container-section1 {
    h2 {
        color: #262250;
        font-family: 'Poppins', Sans-serif;
        font-size: 18px;
        font-weight: 700;
        -webkit-text-stroke-color: #000;
        stroke: #000;
    }
}

/* components/ITServiceCompany.module.css */

.container {
    padding: 20px;
}

.heading {
    margin-bottom: 20px;
    h2 {
        color: #000001;
        font-family: 'Poppins', Sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 55px;
    }
}

.textEditor p {
    color: #474646;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    line-height: 1.8;
    word-spacing: 2px;
    a {
        text-decoration: none;
        font-weight: 600;
    }
}

.buttonWrapper {
    margin-top: 20px;
    .button {
        display: inline-flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #0070f3;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        background-color: transparent;
        background-image: linear-gradient(90deg, #871752 0%, #262250 50%);
        border-radius: 0 0 0 0;
        padding: 18px 40px 18px 40px;
        display: flex;
        justify-content: space-between;
    }
}
.buttonIcon {
    margin-right: 8px;
}

.buttonText {
    display: inline-block;
}

.about-page-container-section2 {
    .about-page-container-section2-paragraph {
        padding-top: 20px;
        color: #474646;
        font-family: 'Poppins', Sans-serif;
        font-size: 16px;
        line-height: 1.8;
        word-spacing: 2px;
    }
}


.about-page-card-container
{
    .card{
    background-color:        #F5F5F5;
    }
}

.about-page-card-title{
    margin-bottom: 18px;
    color: #FFF;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
}

.about-page-card-text{
    color: #FFF;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    margin-bottom: 5px !important;
    // word-spacing: 1px;
    line-height: 1.85714285714286;

}
.ct-effect1{
    position: relative;
}
.ct-effect1 img{
    animation: particleToptoBottom2 12s infinite linear alternate;
    
}
.about-img{
    position: absolute;
    top: 40%;
   
    left: 57%;
    overflow: hidden;
    border-radius: 10px;
}
.best-frirnd{
    display: flex;
    width: 72%;
    background: #fff;
    padding: 20px;
    margin-top: -20px;
    z-index: 99;
    position: relative;
   
    margin-left: 3%;
    box-shadow: 0 8px 65px rgba(12, 12, 12, 0.19);
    
    border-radius: 30px 30px 0 0;
    padding: 20px 30px;
    background: #fff !important;

    svg{
        font-size: 45px;
    }
}
@keyframes particleToptoBottom2{
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(25px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-25px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

@media screen and (max-width:768px){
    .ct-effect1 img{
        display: none;
    }
.about-img{
    position: unset;
}
.best-frirnd {
width:95%;
margin-left: 2%;
}
.about-page-card-container{
.col-md-4{
    margin-top:20px;
}
}
}