/* php-web-development */
.php-web-development-banner {
    padding: 50px 0px;
    /* background-image: url(../../../public/webdads/images/php-web-development/php-banner.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width:426px){
.php-banner h1 {
    font-size: 20px !important;
}
.php-banner p {
font-size: 11px !important;}
}

.php-banner h1 {
    color: #fff;
    font-family: poppins, sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.php-banner p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.php-banner button {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background: #007aff;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 8px 17px;
}

.php-banner button:hover {
    background: #00a6ff;
}

@media screen and (max-width:767px) {
    .php-banner h1 {
        font-size: 25px;
    }
}

/* Developmentcompanyinchennai */
.developmentcompanyinchennai-main {
    padding: 60px 0px;
}

.developmentcompanyinchennai h1 {
    color: #0A1F5F;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.developmentcompanyinchennai p {
    text-align: center;
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width:767px) {
    .developmentcompanyinchennai-main {
        padding: 30px 0px;
    }

    .developmentcompanyinchennai h1 {
        font-size: 25px;
    }
}


/* Phpcardhover */
.Phpcardhover-main {
    padding: 60px 0px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #F61B10 0%, #EF0963 100%);
}

.Phpcardhover .card-boxbf {
    position: relative;
}

.Phpcardhover .card-boxbf:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f2a863;
    border-radius: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(0px, 0px) rotate(0deg);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;

}

.Phpcardhover .card {
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFF;
    border-radius: 5px 5px 5px 5px;
    background: transparent;
    margin-bottom: 30px;
    height: 310px;
}

.Phpcardhover .card img {
    filter: brightness(0) invert(1);
}

.Phpcardhover .card h1,
.card p {
    color: #fff;
}

.Phpcardhover .card-boxbf:hover:before {
    transform: translate(0px, 20px) rotate(5deg);
    opacity: 1;
}

.Phpcardhover .card-boxbf:hover .card {
    background: #fff;
}

.card-boxbf:hover .card img {
    filter: brightness(1) invert(0);
}


.Phpcardhover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    filter: brightness(0) invert(1);
}

.Phpcardhover .card:hover img {
    filter: brightness(1) invert(0);
}

.Phpcardhover h1 {
    color: #FFF;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.Phpcardhover .card-boxbf:hover h1 {
    color: #000;
}

.Phpcardhover p {
    color: #FFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.Phpcardhover .card-boxbf:hover p {
    color: #000;
}

@media screen and (max-width:767px) {
    .Phpcardhover-main {
        padding: 30px 0px;
    }

    .Phpcardhover h1 {
        font-size: 25px;
    }
}

/* optforphp */
.optforphp-main {
    padding: 60px 0px;
}

.optforphp h1 {
    color: #0A1F5F;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.optforphp p {
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.optforphp button {
    background-color: transparent;
    background-image: linear-gradient(90deg, #871752 0%, #262250 50%);
    border-radius: 5px;
    padding: 13px 40px;
    color: #FFF;
    font-weight: 600;
}

.optforphp button:hover {
    background-color: transparent;
    background-image: linear-gradient(90deg, #262250 0%, #871752 100%);
}

@media screen and (max-width:767px) {
    .optforphp-main {
        padding: 30px 0px;
    }

    .optforphp h1 {
        font-size: 25px;
    }
}

/* benefitsofphp */
.benefitsofphp-main {
    padding: 60px 0px;
    background: #f1f1f1;
}

.benefitsofphp h1{
    color: #BD2E4A;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.benefitsofphp-header {
    color: #0A1F5F;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.benefitsofphp .card {
    padding: 85px 0px;
    margin-bottom: 20px;
}

.container-benefitsofphp {
    position: relative;

}

.benefitsofphp img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: auto;
}

.benefitsofphp .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
    background-image: linear-gradient(180deg, #F61B10 0%, #EF0963 100%);
    transition: transform 500ms;
    transform: scale(0.8);
    border-radius: 5px;
}


.container-benefitsofphp:hover .overlay {
    opacity: 1;
    transform: scale(1);
}

.benefitsofphp p {
    color: white;
    font-size: 15px;
    padding: 60px 8px;
    text-align: center;
}



@media screen and (max-width:767px) {
    .benefitsofphp-main {
        padding: 30px 0px;
    }

    .benefitsofphp-header {
        font-size: 25px;
    }

    .benefitsofphp p {
        padding: auto 0px;
    }
}

/* newtechnologies */
.newtechnologies-main {
    padding: 60px 0px;
}

.newtechnologies h1 {
    color: #0A1F5F;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.newtechnologies p {
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.newtechnologies-min .card {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    margin: 10px;
}

.newtechnologies-min img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

@media screen and (max-width:767px) {
    .newtechnologies-main {
        padding: 60px 0px;
    }

    .newtechnologies h1 {
        font-size: 25px;
    }
}

/* phpframeworks */
.phpframeworks-main {
    padding: 60px 0px;
}

.phpframeworks h1 {
    color: #0A1F5F;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.phpframeworks p {
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width:767px) {
    .phpframeworks-main {
        padding: 30px 0px;
    }

    .phpframeworks h1 {
        font-size: 25px;
        margin-bottom: 5px;
    }
}

/* phpframeworkscard */
.phpframeworkscard-main {
    padding-bottom: 60px;
}

.phpframeworkscard .card {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(216, 214, 214, .7);
    margin-bottom: 10px;
    border: 1px solid transparent;
}

.phpframeworkscard img {
    width: 70px;
}

.phpframeworkscard h3 {
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.phpframeworkscard p {
    color: #5A5A5A;
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
}

@media screen and (max-width:767px) {
    .phpframeworkscard-main {
        padding-bottom: 30px;
    }


    .phpframeworks h1 {
        font-size: 25px;
        margin-bottom: 5px;
    }
}


/* frequentlyphp */

.frequentlyphp-main {
    padding: 60px 0px;
    background: #f1f1f1;
}

.frequentlyphp h1 {
    color: #0A1F5F;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.frequentlyphp p {
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.frequentlyphp-Accordion .accordion-item {
    margin-bottom: 10px;
}


.frequentlyphp-Accordion .accordion-button {
    color: rgb(0, 32, 96);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.frequentlyphp-Accordion .accordion-body {
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}


.frequentlyphp-Accordion .accordion-button {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
}

.frequentlyphp-Accordion .accordion-button::after {
    /* background-image: url(../../../public/webdads/images/android-app-development/plus-small.png); */
    transition: all 0.5s;
    color: #08203A !important;
}

.frequentlyphp-Accordion .accordion-button:not(.collapsed)::after {
    /* background-image: url(../../../public/webdads/images/android-app-development/munus-small.png); */
    color: #08203A !important;
}

.frequentlyphp-Accordion .accordion-button::after {
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    .frequentlyphp-main {
        padding: 30px 0px;
    }

    .FrequentlyAskedQuestions-header h1 {
        font-size: 24px;
    }

    .frequentlyaskedquestions h1 {
        font-size: 25px;
    }
}