body {
    overflow-x: hidden !important;
}

.swiper-pagination-bullet {
    background: #262250 !important;
    opacity: 0.5;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: #ff6b6b !important;
    opacity: 1;
    width: 14px;
    height: 14px;
    border: 2px solid #262250;
}
