/* Styling for parent menu
/* .navbar-menu {
    position: relative;
}

.navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar-menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.navbar-menu li:hover .submenu {
    display: block;
}

.navbar-menu .submenu li {
    padding: 10px;
    white-space: nowrap;
}

.navbar-menu .submenu li:hover {
    background-color: #f5f5f5;
}


.submenu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding-left: 20px;
}

.submenu.active {
    display: flex;
}

.hidden {
    display: none;
}


.nested-submenu {
    padding-left: 15px;
    margin-top: 10px;
}

.menu-item {
    cursor: pointer;
    padding: 10px;
}

.menu-item i {
    margin-left: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow-x: hidden !important;
}
.digital-partical-div{
    background-color: #871752;
     align-items: baseline !important;
    }

.digital-home {
    li{
        padding-top: 5px !important;
    }
  
}
.digital-home-li{
    padding-top: 10px !important;
}
.landing-page-card-btn:hover {
    background-color: transparent;
    background-image: linear-gradient(90deg, #262250 0%, #871752 100%);
}

.landing-page-card-post-grid img {
    transition: 6s cubic-bezier(0.24, 0.74, 0.58, 1);
    overflow: hidden;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.landing-page-card-post-grid:hover img {
    transform: scale(1.1);
}
.landing-page-card-post-thumbnail {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.landing-page-card-blog-para-p {
    font-size: 20px;
    font-weight: 700;
    color: #871752;
    position: relative;
    max-width: 200px;
    margin: auto;
}

.landing-page-card-blog-para-p::before {
    content: '';
    font-size: xx-large;
    background-color: #871752 !important;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -40px;
    top: 13px;
    border-radius: 5px;
}

.landing-page-card-blog-para-p::after {
    content: '';
    background-color: #871752 !important;
    width: 8px;
    height: 8px;
    position: absolute;
    right: -40px;
    top: 13px;
    border-radius: 5px;
}

.landing-page-card-blog-para-h3 {
    color: #181f44;
    font-family: 'Poppins', Sans-serif;
    font-size: 29px;
    margin-bottom: 16px;
    font-weight: 700;
    max-width: 700px;
    margin: auto;
}

.landing-page-card-blog-para-h3 span {
    color: #871752;
}

.landing-page-faq-accordionItem {
    margin-bottom: 1rem;
    border: none;
}

.landing-page-faq-accordionHeader {
    background-color: #f8f9fa;
    border: none;
    cursor: pointer;
    position: relative;
    font-weight: 500 !important;

    // padding: 1rem;
}

.accordion-button {
    border: none;
    box-shadow: none;
    outline: none;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 500 !important;
    color: #aaa;
}

.accordion-button:focus,
.accordion-button:active {
    box-shadow: none;
    // border-color: transparent;
    // outline: 2px solid #d5d8dc;
    // border: 2px solid #1b60bb !important;
    border: 2px solid #d5d8dc;
}

.accordion-button:not(.collapsed) {
    background-color: #262250;
    color: #fff;
    border: none;
    border-radius: 4px 4px 0 0;
}

.accordion-body {
    background-color: #fff;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #aaa;
    letter-spacing: 1px;
}

.accordion-button::after {
    // background-color: #fff;
    // color: wheat !important;
    color: #d5d8dc;
    background-image: url('/webdads/images/landingpage/Hero-content/plus.svg') !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('/webdads/images/landingpage/Hero-content/dash.svg') !important;
}

.accordion-button {
    border: 2px solid #d5d8dc;
}

.landing-page-faq-span-div {
    color: #871752 !important;
    font-family: 'Roboto', Sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
.landing-page-faq-span-div h2 {
    font-family: 'Poppins', Sans-serif;
    font-size: 30px;
    line-height: 48px;
    color: #000001;
    margin-bottom: 0px !important;
    font-weight: 700;
}

.landing-page-faq-span-div::before {
    content: '';
    background-color: #871752;
    width: 80px;
    height: 3px;
    position: absolute;
    top: 20%;
    left: 60px;
}

.landing-page-testimonial h3{
    font-family: 'Poppins', Sans-serif;
    font-size: calc(2rem + 2vw);
    line-height: 60px;
    margin-bottom: 41px;
    color: #000001;
    font-weight: 700;
}

.testimonial-header {
    font-size: calc(2rem + 2vw); /* Example: Combine rem and vw units */
}

.android-app-development-slider{
  margin-top:-50px; 
  color:#fff;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .landing-page-testimonial h3 {
        font-size: calc(1.5rem + 1vw); /* Adjust as needed for smaller screens */
    }
}

.landing-page-testimonial-carousel-caption {
    font-family: 'Poppins', Sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #aaa;
    letter-spacing: 1px;
    height: 300px;
    h3 {
        color: #0c0022;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
    h4 {
        color: #262250;
        font-weight: bold;
        font-size: 16px;
    }
}

.landing-page-testimonial-carousel-caption-p::after {
    background-image: url('/webdads/images/landingpage/testimonial/quotes.png') !important;
}

.carousel-indicators {
    border-radius: 35px;
    width: 160px;
    margin-left: 35%;
}
.carousel-indicators > button[aria-current='false'] {
    // ackground: #000;
    border: 2px solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators > .active {
    background-color: #871752;
    border: 2px solid #871752;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.landing-page-testimonial-carousel-caption-p {
    color: #162541;
    // font-style: italic;
    line-height: 1.6;
    font-size: 24px !important;
    font-family: 'Poppins';
    font-weight: 400;
}



//---caseStudy---

.landing-page-casestudy-span-div {
    color: #871752 !important;
    font-family: 'Roboto', Sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.landing-page-casestudy-span-div::after {
    content: '';
    background-color: #871752;
    width: 80px;
    height: 3px;
    position: absolute;
    top: 13%;
    left: 125px;
    
}
.landing-page-casestudy-content{
    color: #666;
    font-family: "Poppins", Sans-serif;
    // font-size: 16px;
    // font-weight: 400;
    line-height: 30px;
    height: 300px;
    >p{
        border: 0;
        font-size: 100%;
        font-size: 16px !important;
        padding-top: 15px !important;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
        color: #666;
        // background-color: #871752;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1px;
    }
}




.landing-page-casestudy-span-div h3{
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    line-height: 48px;
    color: #000001;
    margin-bottom: 0px !important;
    font-weight: 700;
}

.Industries-serv {
    .col-md-3{
        padding: 3px !important;
    }
}

