h2 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 40px;
    font-weight: 700;
}
p {
    color: #7a7a7a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.flyerhero {
    background: url('/webdads/images/flyerdesign/flayer-design.jpg');
    padding-bottom: 340px;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
        font-size: 45px;
        color: #fff;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }
    button {
        background: #fff;
        border-radius: 50px;
        color: #29aeaa;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 30px;
        border: 2px solid #fff;
    }
    button:hover {
        background: #0000;
        border: 2px solid #fff;
        color: #fff;
    }
}
.android-app-development-slider {
    margin-top: -50px;
    background: #fff;
}
.flyerbox {
    box-shadow: 10px 10px 40px 0 rgb(206 207 211);
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;
    h3 {
        color: #0b1225;
        font-family: 'Poppins', Sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
        padding-top: 15px;
    }
}
.corflyer {
    display: flex;
    p {
        margin-bottom: 5px;
    }

    svg {
        color: #003073;
        font-size: 25px;
        font-weight: 600;
    }
}
.flyerdsn {
    h3 {
        color: #0b1225;
        font-family: 'Poppins', Sans-serif;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}
.flyerbx h3 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 25px;
    font-weight: 600;
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.flyerbx .shopify-weoffer {
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(216, 214, 214, 0.7);
    text-align: center;
    height: 260px;
    margin-top: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    h3 {
        color: #4d4d4d;
        font-family: 'Poppins', Sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    p {
        font-size: 14px;
        color: #7a7a7a;
    }
}
.flyerbx .shopify-weoffer:hover {
    transform: translate3d(0, -15px, 10px) !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.ourwork {
    h3 {
        background-image: linear-gradient(90deg, #65258a 0%, #e80566 100%);
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -text-fill-color: transparent;
        display: inline-block;
        font-size: 45px;
        font-weight: 700;
        padding-bottom: 30px;
    }
}
.bsihv {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition */
    border-radius: 5px;
}

.bsihv:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.modal-footer {
    display: none;
}
.modal-content {
    background: transparent;
    border: 0px;
}
.modal-body {
    button {
        font-size: 39px;
        background: transparent;
        border: 0px;
        color: #fff;
    }
}
.bsihv {
    margin-bottom: 20px;
}
.ourwork {
    button {
        font-family: 'Poppins', Sans-serif;
        font-size: 18px;
        font-weight: 600;
        background-color: transparent;
        background-image: linear-gradient(90deg, #65258a 0%, #e80566 50%);
        border-radius: 5px 5px 5px 5px;
        padding: 15px 40px 15px 40px;
        border: none;
    }
}
.looking-wecomm {
    background-color: transparent;
    background-image: linear-gradient(121deg, #18a5a7 0%, #bfffc7 100%);
    padding-top: 60px;
    padding-bottom: 60px;

    P {
        font-size: 18px;
        color: #fff;
    }
    button {
        background: #fff;
        font-size: #000;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        padding: 10px 30px;
        border: 2px solid #fff;
    }
    button:hover {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
    }
    h2 {
        color: #fff;
        font-family: 'Poppins', Sans-serif;
        font-size: 45px;
        font-weight: 600;
    }
}

// Accordian

.FrequentlyAskedQuestions-Accordion .accordion-item {
    margin-bottom: 10px;
}

.FrequentlyAskedQuestions-Accordion .accordion-button {
    color: rgb(0, 32, 96);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.FrequentlyAskedQuestions-Accordion .accordion-body {
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.frequentlyaskedquestions-main h1 {
    color: #0a1f5f;
    font-family: 'Poppins', Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 45px;
}

.FrequentlyAskedQuestions-Accordion .accordion-button {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
}

.FrequentlyAskedQuestions-Accordion .accordion-button::after {
    // background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203a !important;
}
.FrequentlyAskedQuestions-Accordion .accordion-button:not(.collapsed)::after {
    // background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203a !important;
}
.FrequentlyAskedQuestions-Accordion .accordion-button::after {
    transition: all 0.5s;
}
.accordion-body {
    color: #7a7a7a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .flyerhero {
        padding-bottom: 364px;
        padding-top: 20px;
        // background-size: contain;
        h2 {
            font-size: 19px;
        }
        p {
            font-size: 10px;
            line-height: 20px;
        }
        button {
            font-size: 12px;
            padding: 5px 20px;
        }
    }
    .flyerbx h3 {
        max-width: 100%;
    }
}
