h2 {
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 700;
}
p {
    color: #7a7a7a;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.isoapp {
    background: url('/webdads/images/letterhead/letterhead-banner.jpg');
    padding-bottom: 80px;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
        font-size: 45px;
        color: #fff;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }
    button {
        background: #fff;
        border-radius: 50px;
        color: #29aeaa;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 30px;
        border: 2px solid #fff;
    }
    button:hover {
        background: #0000;
        border: 2px solid #fff;
        color: #fff;
    }
}
.android-app-development-slider {
    margin-top: -50px;
    background: #fff;
}
.profess{
p{
    width: 80%;
    margin: auto;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 50px;
}
}
.lhdpro{
    svg{
        color:#E40724;
        font-size: 20px;
       margin-right: 5px;
    }
}
.profsdesn{
    padding-top:60px;
    padding-bottom: 60px;
}

.whyletter{
    h3{
        color: #4D4D4D;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 700;
    }
}
.looking-letter{
    background-color: transparent;
    background-image: linear-gradient(121deg, #A942A5 0%, #6A2F9E 100%);
    padding-top:60px;
    padding-bottom: 60px;

    P{
        font-size: 18px;
        color: #fff;
    }
    button{
        background: #fff;
    font-size: #000;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    padding: 10px 30px;
    border:2px solid #fff;
    }
    button:hover{
        border:2px solid #fff;
        background:transparent;
        color:#fff;
    }
    h2{
        color: #FFF;
        font-family: "Poppins", Sans-serif;
        font-size: 45px;
        font-weight: 600;
    }
}

// Accordian

.FrequentlyAskedQuestions-Accordion .accordion-item{
    margin-bottom: 10px;
  } 
  
  
  .FrequentlyAskedQuestions-Accordion .accordion-button{
    color: rgb(0, 32, 96);
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: 600;
  }
  
  .FrequentlyAskedQuestions-Accordion .accordion-body{
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .frequentlyaskedquestions-main h1 {
    color: #0A1F5F;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 45px;
}

.FrequentlyAskedQuestions-Accordion .accordion-button{
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
  }
  
  .FrequentlyAskedQuestions-Accordion .accordion-button::after {
    // background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203A !important;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button:not(.collapsed)::after {
    // background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203A !important;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button::after {
    transition: all 0.5s;
  }
  

  .letterhdslr .android-app-development-slider{
    display: flex;
    flex-direction: row;
    border: 0px !important;
  }
  
  .letterhdslr .android-app-development-slider h1 {
    color: #141414;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 20px;
    margin-right: 50px;
  }
  
  
  
  .letterhdslr .android-app-development-slider img {
    width: 100%;
    height: auto;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (max-width: 800px) {
    .next {
      display: none !important;
    }
  
    .android-app-development-slider img {
      width: 100px;
      padding: 5px;
    }
  }
  .letterrecent {
    h2{
        color: #0B1225;
        font-family: "Poppins", Sans-serif;
        font-size: 40px;
        font-weight: 700;  
    }
  }

  @media screen and (max-width:768px){
    .isoapp{
        h2{
            font-size: 20px;
        }
        p{
          font-size: 10px;
          line-height: 18px;
        }
        button{
            display: none;
        }
    }
    .profess p{
        width:100% !important;
    }
    .letterrecent h2 {
    font-size: 30px;
  }
  .lhdpro {
   h2{
    font-size: 30px;
   }
  }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .isoapp h2{
        font-size: 30px;
    }
    .android-app-development-slider h1{
        font-size: 18px;
        font-weight: 600;
        padding: 0px;
        margin-right: 0px;  
    }
    .looking-letter h2 {
   font-size: 30px;
}
}