/* localseoservicebanner-main */
.localseoservicebanner-main {
    /* background-image: url(../../../public/webdads/images/local-seo-service/1-local-seo.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}

/* .element-local-image {
background-image: url(../../../public/webdads/images/local-seo-service/Img.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 550px;
padding: 0px;   
} */

.Star-2-main {
    position: absolute;
    top: 233px;
    left: 961px;
    animation: mover 1s infinite alternate;
}

.localseoservicebanner .Star-2 {
    position: absolute;
    top: 216px;
    left: 799px;
    animation: mover 1s infinite alternate;
}

.localseoservicebanner .Star-1 {
    position: absolute;
    top: 451px;
    left: 840px;
    animation: mover 1s infinite alternate;
}

.localseoservicebanner .Star {
    position: absolute;
    top: 175px;
    left: 985px;
    animation: mover 1s infinite alternate;
}

.localseoservicebanner .Steps {
    position: absolute;
    top: 203px;
    left: 927px;
    animation: mover 1s infinite alternate;
}

.localseoservicebanner .Hand {
    position: absolute;
    top: 347px;
    left: 715px;
    animation: mover 1s infinite alternate;
}

.localseoservicebanner .Paper {
    position: absolute;
    top: 300px;
    left: 1116px;
    animation: mover 1s infinite alternate;
}

.localseoservicebanner .Mic {
    position: absolute;
    top: 227px;
    left: 1045px;
    animation: mover 1s infinite alternate;
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
    .Star-2-main {
        position: absolute;
        top: 246px;
        left: 702px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Star-2 {
        position: absolute;
        top: 238px;
        left: 579px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Star-1 {
        position: absolute;
        top: 481px;
        left: 626px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Star {
        position: absolute;
        top: 181px;
        left: 731px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Steps {
        position: absolute;
        top: 213px;
        left: 668px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Hand {
        position: absolute;
        top: 379px;
        left: 500px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Paper {
        position: absolute;
        top: 335px;
        left: 900px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Mic {
        position: absolute;
        top: 258px;
        left: 826px;
        animation: mover 1s infinite alternate;
    }
}

@media screen and (max-width: 769px) {
    .Star-2-main {
        position: absolute;
        top: 187px;
        left: 421px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Star-2 {
        position: absolute;
        top: 184px;
        left: 535px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Star-1 {
        position: absolute;
        top: 367px;
        left: 480px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Star {
        position: absolute;
        top: 131px;
        left: 554px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Steps {
        position: absolute;
        top: 153px;
        left: 509px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Hand {
        position: absolute;
        top: 301px;
        left: 361px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Paper {
        position: absolute;
        top: 264px;
        left: 672px;
        animation: mover 1s infinite alternate;
    }

    .localseoservicebanner .Mic {
        position: absolute;
        top: 182px;
        left: 600px;
        animation: mover 1s infinite alternate;
    }
}

.localseoservicebanner h1 {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.localseoservicebanner p {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.localseoservicebanner button {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 8px 25px;
}

.localseoservicebanner button:hover {
    color: #0a1f5f;
    background: #fff;
}

@media screen and (max-width: 769px) {
    .localseoservicebanner h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 426px) {
    .localseoservicebanner h1 {
        font-size: 20px;
    }

    .localseoservicebanner p {
        font-size: 12px;
    }

    .localseoservicebanner button {
        font-size: 12px;
        padding: 6px 20px;
    }
}

/* SEOservicesindia */
.seoservicesindia-main {
    padding: 60px 0px;
}

.seoservicesindia h2 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.seoservicesindia p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.seoservicesindia img {
    animation: mover 1s infinite alternate;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

@media screen and (max-width: 767px) {
    .seoservicesindia-main {
        padding: 30px 0px;
    }

    .seoservicesindia h2 {
        font-size: 25px;
    }
}

/* whyseo */
.whyseo-main {
    padding: 60px 0px;
    background: rgb(247, 247, 247);
}

.whyseo h3 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.whyseo p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .whyseo-main {
        padding: 30px 0px;
        background: rgb(247, 247, 247);
    }

    .whyseo h3 {
        font-size: 25px;
    }
}

/* Localseoservicesinclude */
.localseoservicesinclude-main {
    padding: 60px 0px;
}

.localseoservicesinclude-header h3 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0px;
}

.localseoservicesinclude img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

.localseoservicesinclude h4 {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.localseoservicesinclude p {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .localseoservicesinclude-main {
        padding: 30px 0px;
    }

    .localseoservicesinclude-header h3 {
        font-size: 25px;
    }
}

/* LocalSEOcompany */
.localseccompany-main {
    padding: 60px 0px;
}

.localseccompany h5 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.localseccompany p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.localseccompany .seo-icon-item {
    color: #6ec1e4;
    font-size: 25px;
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    .localseccompany-main {
        padding: 30px 0px;
    }

    .localseccompany h5 {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

/* Looking-E-commerce-SEO */
.lookingEcommerceseo-main {
    padding: 60px 0px;
    /* background-image: url(../../../public/webdads/images/local-seo-service/1-local-seo.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lookingEcommerceseo h6 {
    color: #ffffff;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.lookingEcommerceseo p {
    color: #ffffff;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.lookingEcommerceseo button {
    color: #000000;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 18px 40px;
}

.lookingEcommerceseo button:hover {
    color: #ffffff;
    background-color: #00000000;
}

@media screen and (max-width: 767px) {
    .lookingEcommerceseo-main {
        padding: 30px 0px;
    }

    .lookingEcommerceseo h6 {
        font-size: 25px;
    }
}

/* FQlocalseoservice */
.fqlocalseoservice-main {
    padding: 60px 0px;
    background: rgb(245, 245, 245);
}

.fqlocalseoservice h1 {
    color: #0a1f5f;
    font-family: 'Poppins', Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.fqlocalseoservice p {
    color: #000000;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.fqlocalseoservice button {
    background-color: #69727d;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s;
    background-color: transparent;
    background-image: linear-gradient(90deg, #871752 0%, #262250 50%);
    border-radius: 30px;
    padding: 13px 40px;
}

.fqlocalseoservice button:hover {
    background-color: transparent;
    background-image: linear-gradient(90deg, #262250 0%, #871752 100%);
}

.fqlocalseoservice-Accordion .accordion-item {
    margin-bottom: 10px;
}

.fqlocalseoservice-Accordion .accordion-button {
    color: rgb(0, 32, 96);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.fqlocalseoservice-Accordion .accordion-body {
    color: #7a7a7a;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.fqlocalseoservice-Accordion .accordion-button {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
}

.fqlocalseoservice-Accordion .accordion-button::after {
    /* background-image: url(../../../public/webdads/images/android-app-development/plus-small.png); */
    transition: all 0.5s;
    color: #08203a !important;
}

.fqlocalseoservice-Accordion .accordion-button:not(.collapsed)::after {
    /* background-image: url(../../../public/webdads/images/android-app-development/munus-small.png); */
    color: #08203a !important;
}

.fqlocalseoservice-Accordion .accordion-button::after {
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    .fqlocalseoservice-header h1 {
        font-size: 24px;
    }

    .fqlocalseoservice h1 {
        font-size: 25px;
    }
}
