<<<<<<< HEAD
@keyframes NewsletterAnimated2 {
=======
@keyframes newsletterAnimated2 {
>>>>>>> a0d19cc (Initial commit)
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(40px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(-40px);
    }

    100% {
        transform: translateX(0px);
    }
}

.ct-effect2 {
<<<<<<< HEAD
    animation: NewsletterAnimated2 12s infinite linear alternate;
=======
    animation: newsletterAnimated2 12s infinite linear alternate;
>>>>>>> a0d19cc (Initial commit)
}