/* .counterCard {
    border-radius: 0.5rem;
    border: none;
  }
  
  .counterBody {
    padding: 2rem;
  
  }
  
  .counterNumber {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
  }
  
  .counterSuffix {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .counterTitle {
    font-size: 1.25rem;
    color: gray;
    margin: 0;
  }
   */