.landing-page-testimonial-carousel-caption-p {
    position: relative;
    text-align: left;
    padding-left: 10px;
    margin-top: 20px; /* Ensure room for the quote */
}

.landing-page-testimonial-carousel-caption-p::before {
    content: '';
    width: 65px;
    height: 53px;
    position: absolute;
    top: -55px;
    left: 0;
    background: url('https://res.cloudinary.com/dbpv95wd8/images/f_auto,q_auto/v1701069245/quotes/quotes.png?_i=AA');
    background-size: contain;
    background-repeat: no-repeat;
}

.landing-page-card-btn:hover {
    background-color: transparent;
    background-image: linear-gradient(90deg, #262250 0%, #871752 100%);
}

.landing-page-card-post-grid img {
    transition: 6s cubic-bezier(0.24, 0.74, 0.58, 1);
    overflow: hidden;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.landing-page-card-post-grid:hover img {
    transform: scale(1.1);
}
.landing-page-card-post-thumbnail {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.landing-page-card-blog-para-p {
    font-size: 20px;
    font-weight: 600;
    color: #871752;
    position: relative;
    max-width: 200px;
    margin: auto;
}

.landing-page-card-blog-para-p::before {
    content: '';
    font-size: xx-large;
    background-color: #871752 !important;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -40px;
    top: 13px;
    border-radius: 5px;
}

.landing-page-card-blog-para-p::after {
    content: '';
    background-color: #871752 !important;
    width: 8px;
    height: 8px;
    position: absolute;
    right: -40px;
    top: 13px;
    border-radius: 5px;
}

.landing-page-card-blog-para-h3 {
    color: #181f44;
    font-family: 'Poppins', Sans-serif;
    font-size: 29px;
    margin-bottom: 16px;
    font-weight: 600;
    max-width: 700px;
    margin: auto;
}

.landing-page-card-blog-para-h3 span {
    color: #871752;
}

.landing-page-faq-accordionItem {
    margin-bottom: 0.75rem;
    border: none;
}

.landing-page-faq-accordionHeader {
    background-color: #f8f9fa !important;
    border: none;
    cursor: pointer;
    position: relative;

    // padding: 1rem;
}

.accordion-button {
    border: none;
    box-shadow: none;
    outline: none;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #aaa;
}

.accordion-button:focus,
.accordion-button:active {
    box-shadow: none;
    // border-color: transparent;
    // outline: 2px solid #d5d8dc;
    // border: 2px solid #1b60bb !important;
    // border: 2px solid #d5d8dc;
}

.accordion-button:active {
    background-color: #262250 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px 4px 0 0 !important;
}

.accordion-body {
    background-color: #fff;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #aaa;
    letter-spacing: 1px;
}

.accordion-button::after {
    // background-color: #fff;
    // color: wheat !important;
    color: #d5d8dc !important;
    // background-image: url('/webdads/images/plus.svg') !important;
}

// .accordion-button:not(.collapsed)::after {
//     // background-image: url('/webdads/images/dash.svg') !important;
// }

.accordion-button {
    // border: 1px solid #d5d8dc !important;
    color: #aaa !important;
}

.landing-page-faq-span-div {
    color: #871752 !important;
    font-family: 'Roboto', Sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
.landing-page-faq-span-div h2 {
    font-family: 'Poppins', Sans-serif;
    font-size: 30px;
    line-height: 48px;
    color: #000001;
    margin-bottom: 0px !important;
    font-weight: 700;
}

.landing-page-faq-span-div::before {
    content: '';
    background-color: #871752;
    width: 80px;
    height: 3px;
    position: absolute;
    top: 20%;
    left: 60px;
}

.landing-page-testimonial h3 {
    font-family: 'Poppins', Sans-serif;
    font-size: calc(1rem + 2vw);
    line-height: 60px;
    margin-bottom: 41px;
    color: #000001;
    font-weight: 700;
}

.testimonial-header {
    font-size: calc(2rem + 2vw); /* Example: Combine rem and vw units */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .landing-page-testimonial h3 {
        font-size: calc(1rem + 1vw); /* Adjust as needed for smaller screens */
        line-height: 30px;
    }
}

.landing-page-testimonial-carousel-caption {
    font-family: 'Poppins', Sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #aaa;
    letter-spacing: 1px;
    height: '400px';
    h3 {
        color: #0c0022;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
    h4 {
        color: #262250;
        font-weight: bold;
        font-size: 16px;
    }
}

.landing-page-testimonial-carousel-caption-p::after {
    background-image: url('/webdads/images/landingpage/testimonial/quotes.png') !important;
}

.carousel-indicators {
    border-radius: 35px;
    width: 160px;
    margin-left: 35%;
}
.carousel-indicators > button[aria-current='false'] {
    // ackground: #000;
    // border: 2px solid blue;
    background-color: #aaa;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
    top: -8px;
}

.carousel-indicators > button[aria-current='true'] {
    background-color: #262250;
    border: 2px solid #262250;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.landing-page-testimonial-carousel-caption-p {
    color: #162541;
    // font-style: italic;
    line-height: 1.6;
    font-size: 1.1rem !important;
    font-family: 'Poppins';
    font-weight: 400;
}

@media (max-width: 425px) {
    .carousel-indicators {
        // display: none;
        margin-left: 23%;
        margin-bottom: -1rem;
    }
    .landing-page-testimonial-carousel-caption-p {
        margin-left: 10px;
    }
}
@media (max-width: 768px) {
    .carousel-indicators {
        margin-left: 25%;
    }
}
@media (min-width: 1024px) {
    .carousel-indicators {
        margin-left: 35%;

        margin-bottom: -1rem;
    }
    .landing-page-testimonial-carousel-caption {
        height: 250px;
    }
}
//---caseStudy---

.landing-page-casestudy-span-div {
    color: #871752 !important;
    font-family: 'Roboto', Sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.landing-page-casestudy-span-div::after {
    content: '';
    background-color: #871752;
    width: 80px;
    height: 3px;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 125px;
}
.landing-page-casestudy-content {
    color: #666;
    font-family: 'Poppins', Sans-serif;
    // font-size: 16px;
    // font-weight: 400;
    line-height: 30px;
    height: 300px;
    > p {
        border: 0;
        font-size: 100%;
        font-size: 16px !important;
        padding-top: 15px !important;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
        color: #666;
        // background-color: #871752;
        font-family: 'Poppins', Sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1px;
    }
}

.landing-page-casestudy-span-div h3 {
    font-family: 'Poppins', Sans-serif;
    font-size: 30px;
    line-height: 48px;
    color: #000001;
    margin-bottom: 0px !important;
    font-weight: 700;
}
.css-1rdyknl {
    border-color: #fff;
}
.MuiButton-outlinedPrimary {
    background: linear-gradient(90deg, #871752 0%, #262250 50%);
    padding: 10px 40px;
    color: #fff;
    font-weight: 600;
}

@media screen and (max-width: 468px) {
    .carousel-parent-container-home {
        margin-left: -20px;
        height: 480px !important;
    }
    // .landing-page-testimonial-carousel-caption {
    //     height: 400px !important;
    // }
}
