p{
    color: #7a7a7a;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}
h2{
    color: #0B1225 ;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600 !important; 
}
.offpage-seo{
    background: rgb(1,141,227);
    background: linear-gradient(90deg, rgba(1,141,227,1) 0%, rgba(26,26,162,1) 100%);
    background-size: cover;
    padding-bottom: 130px;
    padding-top:130px;
        h2{
        font-size: 45px;
        color:#fff;
        font-weight: 700;
        }
        p{
            font-size: 18px;
            color:#fff;
            font-weight: 500;
        }
        button{
            background:transparent;
            border-radius: 50px;
            color:#fff;
            font-size: 18px;
            font-weight: 500;
            padding:10px 30px;
            border:2px solid #fff;
        }
        button:hover{
         background: #0000;
         border:2px solid #fff;
         color:#fff;
        }
        img{
            width:120%;
        }
    }
    .android-app-development-slider {
        margin-top: -50px;
        background: #fff;
    }

    .imageup-st {
        animation: image_upDown2 2s infinite alternate;
    }

    @keyframes image_upDown2{
        0% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(10px);
        }
    }
    .isoimgbx{
        text-align: center;
        img{
            width: 113px !important;
            height: 113px;
            border-radius: 100%;
            border: 10px solid #f5f5f5;
            background: #fff;
            box-shadow: 1px 0 5px #ccc;  
        }
    }
    .isoconbx{
        background: #fff;
        box-shadow: 1px 0 5px #ccc;
        border: 1px solid #fff;
        padding: 20px;
        margin-top: -65px;
        padding-top: 60px;
        border-radius: 10px; 
        height: 270px;
        text-align: center;
        h3{
            margin-bottom: 0;
            color: #0B1225;
            font-family: "Poppins", Sans-serif;
            font-size: 20px;
            font-weight: 600;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        p{
            color: #7a7a7a;
            font-family: "Poppins", Sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
        }
    }
    .offpage-devbx{
        margin-bottom: 30px;
    }
    .offpage-devbx:hover{
        .isoconbx{
            border: 1px solid #3448c5; 
        } 
    }
    
    .looking-offpage{
        background-color: transparent;
        background-image: linear-gradient(35deg, #0090E4 0%, #1B18A1 100%);
        padding-top:60px;
        padding-bottom: 60px;
    
        P{
            font-size: 18px;
            color: #fff;
        }
        button{
            background: #fff;
        font-size: #000;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        padding: 10px 30px;
        border:2px solid #fff;
        }
        button:hover{
            border:2px solid #fff;
            background:transparent;
            color:#fff;
        }
        h2{
            color: #FFF;
            font-family: "Poppins", Sans-serif;
            font-size: 45px;
            font-weight: 600;
        }
    }
    
// Accordian

.FrequentlyAskedQuestions-Accordion .accordion-item{
    margin-bottom: 10px;
  } 
  
  
  .FrequentlyAskedQuestions-Accordion .accordion-button{
    color: rgb(0, 32, 96);
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: 600;
  }
  
  .FrequentlyAskedQuestions-Accordion .accordion-body{
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .frequentlyaskedquestions-main h1 {
    color: #0A1F5F;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 45px;
}

.FrequentlyAskedQuestions-Accordion .accordion-button{
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
  }
  
  .FrequentlyAskedQuestions-Accordion .accordion-button::after {
    // background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203A !important;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button:not(.collapsed)::after {
    // background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203A !important;
  }
  .FrequentlyAskedQuestions-Accordion .accordion-button::after {
    transition: all 0.5s;
  }
  
.crmfaq{
    width:80%;
    margin:auto;
}


@media screen and (max-width:768px){
    .offpage-seo{
        padding-top:50px;
        padding-bottom: 80px;
        h2{
            font-size: 20px;
            }
            p{
                font-size: 10px;
                line-height: 18px;
            }
            img{
                width:100%;
            }
            button{
                display: none;
            }
    } 
    h2{
        font-size: 20px;
    }
    .looking-offpage h2 {
font-size: 25px;
}
.crmfaq{
    width:100%;
}
.frequentlyaskedquestions-main h1{
    font-size: 22px;
}
}
@media screen and (min-width:769px) and (max-width:1024px){
    .offpage-seo  {
        h2{
            font-size: 30px;
        }
        img{
            width: 100%;
        }
}
.android-app-development-slider h1{
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    margin-right: 0px;
}
}