.domainregistrationbanner-main {
    background-image: url(../../../public/webdads/images/domain-registration/Banner-background-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}

.domainregistrationbanner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.domainregistrationbanner h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0px;
}

.domainregistrationbanner p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.domainregistrationbanner button {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 40px;
    background: transparent;
}

.domainregistrationbanner button:hover {
    color: #000;
    background: #fff;
}

@media screen and (max-width:768px) {
    .domainregistrationbanner h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:426px){
.domainregistrationbanner h1 {
    font-size: 20px;
    padding: 8px 0px;
}
.domainregistrationbanner p {
font-size: 9px;}
}

/* Amplifyingyouronline */
.amplifyingyouronline-main {
    padding: 60px 0px;
}

.amplifyingyouronline h2 {
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.amplifyingyouronline p {
    color: #5A5A5A;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width:767px) {
    .amplifyingyouronline-main {
        padding: 30px 0px;
    }

    .amplifyingyouronline h2 {
        font-size: 25px;
    }
}

/* domainname-amin */
.domainname-amin {
    padding: 60px 0px;
    background: #eefdfa;
}

.domainname-header h3 {
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.domainname-card .card {
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.domainname-card .card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.domainname-card h4 {
    color: #002060;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.domainname-card p {
    color: #5A5A5A;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.domainname-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

@media screen and (max-width:767px) {
    .domainname-amin {
        padding: 30px 0px;
    }

    .domainname-header h3 {
        font-size: 25px;
        margin-bottom: 8px;
    }

    .domainname-card .card {
        margin-bottom: 10px;
    }
}

/* Comprehensivedigital */

.comprehensivedigital-main {
    padding: 60px 0px;
}

.comprehensivedigital h4 {
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.comprehensivedigital-min img {
    padding: 1px;
}

.comprehensivedigital-min h5 {
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.comprehensivedigital-min p {
    color: #7A7A7A;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.comprehensivedigital img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:420px) {
    .comprehensivedigital-min {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .comprehensivedigital-min img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65px;
    }
}



@media screen and (max-width:767px) {
    .comprehensivedigital-main {
        padding: 30px 0px;
    }

    .comprehensivedigital h4 {
        font-size: 25px;
    }
}

/* Rightdomain */

.rightdomain-main {
    padding: 60px 0px;
    background: #f5f5f5;
}

.rightdomain h5 {
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.rightdomain p {
    color: #5A5A5A;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.rightdomain .item-icon {
    color: #871752;
    transition: color 0.3s;
}

.rightdomain li {
    color: #54595f;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    padding: 0;
}

.rightdomain button {
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(90deg, #871752 0%, #262250 50%);
    border-radius: 30px;
    padding: 13px 40px;
}

.rightdomain button:hover {
    background-color: transparent;
    background-image: linear-gradient(90deg, #262250 0%, #871752 100%);
}

@media screen and (max-width:767px) {
    .rightdomain-main {
        padding: 30px 0px;
    }

    .rightdomain h5 {
        font-size: 25px;
    }
}


/* lookingdomain */
.lookingdomain-main {
    background-color: #8E0BAC;
    background-image: url(../../../public/webdads/images/domain-registration/Banner-background-4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0px;
    margin: 10px 80px;
    border-radius: 10px;
    box-shadow: 23px 23px 87px 0px rgba(254, 76.0000000000001, 28.000000000000036, 0.42);
}

.lookingdomain h6 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.lookingdomain p {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.lookingdomain button {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 18px 40px;
}

.lookingdomain button:hover {
    color: #fff;
    background: transparent;
}

@media screen and (max-width:769px) {
    .lookingdomain-main {
        padding: 30px 0px;
        margin: 10px 10px;

    }

    .lookingdomain h6 {
        font-size: 25px;
    }
}

/* fqdomainregistration-main */

.fqdomainregistration-main {
    padding: 60px 0px;
}

.fqdomainregistration-header h1 {
    color: #0A1F5F;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 45px;
}

.fqdomainregistration-header p {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}


.FrequentlyAskedQuestions-Accordion .accordion-item {
    margin-bottom: 10px;
}


.fqdomainregistration-Accordion .accordion-button {
    color: rgb(0, 32, 96);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.fqdomainregistration-Accordion .accordion-body {
    color: var(--e-global-color-text);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.fqdomainregistration-Accordion .accordion-body {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
    margin-bottom: 15px !important;
}


.fqdomainregistration-Accordion .accordion-button {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
}

.fqdomainregistration-Accordion .accordion-button::after {
    background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203A !important;
}

.fqdomainregistration-Accordion .accordion-button:not(.collapsed)::after {
    background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203A !important;
}

.fqdomainregistration-Accordion .accordion-button::after {
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    .fqdomainregistration-header h1 {
        font-size: 24px;
    }

    .fqdomainregistration h1 {
        font-size: 25px;
    }
}