/* uiuxbanner */
.uiuxbanner-main {
    background: linear-gradient(130deg, rgba(198, 66, 66, 1) 0%, rgba(100, 43, 115, 1) 100%);
    background-position: center;
    border-radius: 0px 0px 200px 0px;
    padding: 60px 0px !important;
}

@media screen and (max-width: 426px) {
    .uiuxbanner h1 {
        font-size: 20px;
    }

    .uiuxbanner p {
        font-size: 11px;
    }

    .keyelementUI-flex .card {
        width: 100% !important;
        margin-bottom: 15px !important;
    }
}

.uiuxbanner h1 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.uiuxbanner p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.uiuxbanner button {
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #fff;
    border-radius: 50px;
    background: transparent;
    padding: 12px 25px;
}

.uiuxbanner button:hover {
    color: #060097;
    background: #fff;
}

@media screen and (max-width: 767px) {
    .uiuxbanner h1 {
        font-size: 25px;
    }
}

/* Web Development Services */

.webdevelopmentservices-main {
    color: #f5f5f5;
    padding: 60px 0px;
}

.webdevelopmentservices h2 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.webdevelopmentservices p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .webdevelopmentservices-main {
        padding: 30px 0px;
    }

    .webdevelopmentservices h2 {
        font-size: 25px;
    }
}

/* UXdesign */
.uxdesign-d-main {
    padding: 60px 0px;
}

.uxdesign-d h3 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.uxdesign-d p {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.uxdesign-d li {
    list-style-type: none;
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.uxdesign-d .icon-ui {
    color: #262250;
    margin-right: 5px;
}

.uxdesign-d .img-2 {
    position: absolute;
    z-index: 5;
    right: 100px;
    width: 550px;
    animation: spin 100s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
    .uxdesign-d-main {
        padding: 30px 0px;
    }

    .uxdesign-d h3 {
        font-size: 25px;
    }
}

/* uxcesigncompany */
.uxcesigncompany-main {
    background-color: #f5f5f5;
    padding: 60px 0px;
}

.uxcesigncompany h4 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.uxcesigncompany p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.uxcesigncompany-card .card {
    padding: 5px 5px 5px 5px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.uxcesigncompany-card img {
    width: 200px;
}

.uxcesigncompany-card img:hover {
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes move {
    16.65% {
        transform: translateX(8px);
    }

    33.3% {
        transform: translateX(-6px);
    }

    49.95% {
        transform: translateX(4px);
    }

    66.6% {
        transform: translateX(-2px);
    }

    83.25% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(0);
    }
}

.uxcesigncompany-card h3 {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.uxcesigncompany-card p {
    color: #7a7a7a;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

@media screen and (max-width: 425px) {
    .uxcesigncompany-card img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .uxcesigncompany-main {
        background-color: #f5f5f5;
        padding: 30px 0px;
    }

    .uxcesigncompany-card .card {
        font-size: 25px;
    }
}

/* KeyelementUI */

.keyelementUI-main {
    padding: 60px 0px;
}

.keyelementUI h4 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.keyelementUI-flex .card {
    box-shadow: 5px 5px 10px -6px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 4px;
    border-radius: 10px;
    border: 1px solid transparent;
    width: 25%;
}

@media screen and (max-width: 426px) {
    .keyelementUI-flex .element-block {
        display: block !important;
        width: 100%;
    }
    .keyelementUI h4 {
        margin-bottom: 8px;
    }
}

.keyelementUI-flex img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.keyelementUI-flex .card-body h5 {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 12px;
    font-weight: 500;
}

/* uiuxsliser */
.uiuxsliser-main {
    padding: 60px 0px;
}

.uiuxsliser h3 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.uiuxsliser-toos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .uiuxsliser-main {
        padding: 30px 0px;
    }

    .uiuxsliser h3 {
        font-size: 25px;
    }
}

/* UX */
.UX-main {
    padding: 60px 0px;
    background: rgb(245, 245, 245);
}

.UX h2 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.ux-card-over .card {
    border: 1px solid transparent;
    border-radius: 30px 0px 30px 0px;
    background-color: #fff;
    margin-bottom: 30px;
}

.ux-card-over .card:hover {
    background-color: #fff;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.ux-card-over h6 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.ux-card-over p {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .UX-main {
        padding: 30px 0px;
    }

    .UX h2 {
        font-size: 25px;
    }

    .ux-card-over .card {
        margin-bottom: 15px;
    }
}

/* Uxdesign */

.uxdesign-main {
    padding: 60px 0px;
}

.uxdesign h3 {
    color: #262250;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.uxdesign p {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.uxdesign .ux-banner-img {
    background-image: url(../../../public/webdads/images/ui-ux/2mobiles.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 440px;
}

@media screen and (max-width: 426px) {
    .uxdesign .ux-banner-img {
        background-size: 220px;
    }
}

.uxdesign .img-3 {
    /* position: absolute; */
    /* z-index: 5; */
    /* right: 100px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    animation: spin 100s linear infinite;
    width: 550px;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
    .uxdesign-main {
        padding: 30px 0px;
    }

    .uxdesign h3 {
        font-size: 25px;
    }
}

/* WebsiteUXUIdesigningservices */
.websiteUXUIdesigningservices-main {
    padding: 60px 0px;
    background: #f5f5f5;
}

.UXUI h5 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.websiteUXUIdesigningservices img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 100%;
    border: 10px solid #f5f5f5;
    background: #fff;
    box-shadow: 1px 0 5px #ccc;
    position: relative;
    z-index: 1;
    width: 100px;
}

.websiteUXUIdesigningservices .card {
    background: #fff;
    box-shadow: 1px 0 5px #ccc;
    border: 1px solid #fff;
    padding: 20px;
    margin-top: -65px;
    padding-top: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.websiteUXUIdesigningservices .card:hover {
    background: linear-gradient(-225deg, #fffeff 0, #f4fcff 100%);
    box-shadow: 1px 0 20px #ccc;
    border: 1px solid #6cd1ff;
}

.websiteUXUIdesigningservices h3 {
    color: #0b1225;
    font-family: 'Poppins', Sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
}

.websiteUXUIdesigningservices p {
    color: #5a5a5a;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .websiteUXUIdesigningservices-main {
        padding: 30px 0px;
    }

    .UXUI h5 {
        font-size: 25px;
    }
}

/* UXwebdesigndevelopment */
.UXwebdesigndevelopment-main {
    padding: 60px 0px;
    background-image: linear-gradient(121deg, #7e8af6 0%, #2cd6f9 100%);
}

.UXwebdesigndevelopment h6 {
    color: #fff;
    font-family: 'Poppins', Sans-serif;
    font-size: 45px;
    font-weight: 600;
}

.UXwebdesigndevelopment p {
    color: #fff;
    font-family: 'Poppins', Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.UXwebdesigndevelopment button {
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 18px 40px;
}

.UXwebdesigndevelopment button:hover {
    color: #fff;
    background: transparent;
}

@media screen and (max-width: 767px) {
    .UXwebdesigndevelopment-main {
        padding: 60px 0px;
    }

    .UXwebdesigndevelopment h6 {
        font-size: 25px;
    }
}

/* fquiux */

.fquiux-main {
    padding: 60px 0px;
    background: #f5f5f5;
}

.fquiux-header h1 {
    color: #0a1f5f;
    font-family: 'Poppins', Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.fquiux-header p {
    color: #000;
    font-family: 'Poppins', Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.fquiux-Accordion .accordion-item {
    margin-bottom: 10px;
}

.fquiux-Accordion .accordion-button {
    color: rgb(0, 32, 96);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.fquiux-Accordion .accordion-body {
    color: #7a7a7a;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.fquiux-Accordion .accordion-button {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
}

.fquiux-Accordion .accordion-button::after {
    background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
    transition: all 0.5s;
    color: #08203a !important;
}

.fquiux-Accordion .accordion-button:not(.collapsed)::after {
    background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
    color: #08203a !important;
}

.fquiux-Accordion .accordion-button::after {
    transition: all 0.5s;
}

/* .fquiux-Accordion .accordion-body {
    background: #fff;
    box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
    margin-bottom: 15px !important;
} */

@media screen and (max-width: 768px) {
    .fquiux-header h1 {
        font-size: 24px;
    }

    .fquiux h1 {
        font-size: 25px;
    }
}

/* slider */
.uiuxsliser-toos .slick-arrow.slick-prev {
    display: none !important;
}

.uiuxsliser-toos .slick-arrow.slick-next {
    display: none !important;
}

/* tab */

/* General styling for the component */
.circle-tab-main {
    background: #f5f5f5;
    padding: 60px 0px;
}

.circle-tabtabs .circle-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /* padding: 50px 0px; */
    font-family: Arial, sans-serif;
    position: relative;
}

.circle-tabtabs h2 {
    color: #262250;
    font-family: 'Poppins', Sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.circle-tabtabs .tab-container {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Individual tab styles */
.circle-tabtabs .tab {
    background-color: white;
    border: 10px solid transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
    transition: all 0.3s ease;
}

.tab span {
    display: inline-block;
    font-size: 14px;
    padding: 2px;
}

.tab:hover {
    transform: scale(1.1) !important;
}

/* Active tab style */
.circle-tabtabs .tab.active {
    background-color: rgb(100, 43, 114);
    color: #fff;
}

.circle-tabtabs .tab:nth-child(1) {
    position: absolute;
    top: 7px;
    left: 72%;
    transform: scale(1);
    border-color: rgb(104, 86, 254);
}

.circle-tabtabs .tab:nth-child(2) {
    position: absolute;
    top: 33%;
    right: -52px;
    border-color: rgb(108, 230, 166);
    transform: scale(1);
}

.circle-tabtabs .tab:nth-child(3) {
    position: absolute;
    top: 335px;
    left: 78%;
    transform: scale(1);
    border-color: rgb(217, 33, 98);
}

.circle-tabtabs .tab:nth-child(4) {
    position: absolute;
    top: 67%;
    left: -19px;
    transform: scale(1);
    border-color: rgb(255, 173, 65);
}

.circle-tabtabs .tab:nth-child(5) {
    position: absolute;
    top: 32.8%;
    right: 87%;
    transform: scale(1);
    border-color: rgb(137, 125, 193);
}

.circle-tabtabs .tab:nth-child(6) {
    position: absolute;
    top: 2%;
    right: 74%;
    transform: scale(1);
    border-color: rgb(8, 168, 240) !important;
}

/* Center circle content styling */
.circle-tabtabs .circle {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    outline: 3px dashed rgb(200, 148, 147);
    outline-offset: 20px;
}

.circle-tabtabs .circle-inner {
    width: 260px;
    height: 260px;
    background-color: #f7f7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 40px rgba(131, 100, 196, 0.2);
}

.circle-content h2 {
    color: #1e293b;
    font-size: 24px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10px;
}

.circle-content p {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .circle-tabtabs .circle-tabs {
        height: 100vh;
    }
    .circle-tabtabs h2 {
        font-size: 25px;
    }
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .circle-tabtabs h2 {
        font-size: 25px;
    }
    .circle-tab-main {
        background: #f5f5f5;
        padding: 30px 0px;
    }

    .circle-tabtabs .tab-container {
        width: 400px;
        height: 400px;
    }

    .circle-tabtabs .tab:nth-child(1) {
        position: absolute;
        top: 7px;
        left: 76%;
        transform: scale(1);
        border-color: rgb(104, 86, 254);
    }

    .circle-tabtabs .tab:nth-child(2) {
        position: absolute;
        top: 33%;
        right: -65px;
        border-color: rgb(108, 230, 166);
        transform: scale(1);
    }

    .circle-tabtabs .tab:nth-child(3) {
        position: absolute;
        top: 271px;
        left: 78%;
        transform: scale(1);
        border-color: rgb(217, 33, 98);
    }

    .circle-tabtabs .tab:nth-child(4) {
        position: absolute;
        top: 67%;
        left: -25px;
        transform: scale(1);
        border-color: rgb(255, 173, 65);
    }

    .circle-tabtabs .tab:nth-child(5) {
        position: absolute;
        top: 32.8%;
        right: 90%;
        transform: scale(1);
        border-color: rgb(137, 125, 193);
    }

    .circle-tabtabs .tab:nth-child(6) {
        position: absolute;
        top: 2%;
        right: 78%;
        transform: scale(1);
        border-color: rgb(8, 168, 240) !important;
    }

    .circle-tabtabs .tab {
        width: 110px;
        height: 110px;
        font-size: 10px;
        padding: 0px;
    }

    .circle-tabtabs .circle {
        width: 240px;
        height: 240px;
    }

    .circle-tabtabs .circle-inner {
        width: 200px;
        height: 200px;
    }

    .circle-content h2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 375px) and (max-width: 426px) {
    .circle-tabtabs .tab-container {
        width: 430px;
    }
    .circle-tab-main {
        background: #f5f5f5;
        padding: 20px 0px;
    }
    .tab span {
        display: inline-block;
        font-size: 14px;
        padding: 2px;
    }
    .circle-tabtabs .tab:nth-child(1) {
        position: absolute;
        top: -59px;
        left: 36%;
        transform: scale(1);
        border-color: rgb(104, 86, 254);
    }
    .circle-tabtabs .tab:nth-child(2) {
        position: absolute;
        top: -2%;
        right: 10px;
        border-color: rgb(108, 230, 166);
        transform: scale(1);
    }
    .circle-tabtabs .tab:nth-child(3) {
        position: absolute;
        top: 81%;
        left: 68%;
        transform: scale(1);
        border-color: rgb(217, 33, 98);
    }
    .circle-tabtabs .tab:nth-child(4) {
        position: absolute;
        top: 90%;
        left: 36%;
        transform: scale(1);
        border-color: rgb(255, 173, 65);
    }
    .circle-tabtabs .tab:nth-child(5) {
        position: absolute;
        top: 81%;
        right: 68%;
        transform: scale(1);
        border-color: rgb(137, 125, 193);
    }
    .circle-tabtabs .tab:nth-child(6) {
        position: absolute;
        top: -2%;
        right: 67%;
        transform: scale(1);
        border-color: rgb(8, 168, 240) !important;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    .circle-tab-main {
        background: #f5f5f5;
        padding: 20px 0px;
    }
    .tab span {
        display: inline-block;
        font-size: 12px;
        padding: 2px;
    }
    .circle-tabtabs .tab-container {
        width: 384px !important;
    }
    .circle-tabtabs .tab {
        width: 100px;
        height: 100px;
    }
    .circle-tabtabs .tab:nth-child(1) {
        position: absolute;
        top: -40px;
        left: 36%;
        transform: scale(1);
        border-color: rgb(104, 86, 254);
    }
    .circle-tabtabs .tab:nth-child(2) {
        position: absolute;
        top: -2%;
        right: 27px;
        border-color: rgb(108, 230, 166);
        transform: scale(1);
    }
    .circle-tabtabs .tab:nth-child(3) {
        position: absolute;
        top: 81%;
        left: 67%;
        transform: scale(1);
        border-color: rgb(217, 33, 98);
    }
    .circle-tabtabs .tab:nth-child(4) {
        position: absolute;
        top: 88%;
        left: 36%;
        transform: scale(1);
        border-color: rgb(255, 173, 65);
    }
    .circle-tabtabs .tab:nth-child(5) {
        position: absolute;
        top: 81%;
        right: 68%;
        transform: scale(1);
        border-color: rgb(137, 125, 193);
    }
    .circle-tabtabs .tab:nth-child(6) {
        position: absolute;
        top: -2%;
        right: 67%;
        transform: scale(1);
        border-color: rgb(8, 168, 240) !important;
    }
}

@media screen and (max-width: 321px) {
    .circle-tab-main {
        background: #f5f5f5;
        padding: 20px 0px;
    }
    .circle-tabtabs .tab-container {
        width: 318px !important;
    }
    .circle-tabtabs .circle {
        position: relative;
        width: 266px;
        height: 266px;
    }
    .circle-tabtabs .tab {
        width: 100px;
        height: 100px;
    }

    .tab span {
        display: inline-block;
        font-size: 12px;
        padding: 2px;
    }
    .circle-tabtabs .tab:nth-child(1) {
        position: absolute;
        top: -15px;
        left: 34%;
        transform: scale(1);
        border-color: rgb(104, 86, 254);
    }
    .circle-tabtabs .tab:nth-child(2) {
        position: absolute;
        top: 3%;
        right: 6px;
        border-color: rgb(108, 230, 166);
        transform: scale(1);
    }
    .circle-tabtabs .tab:nth-child(3) {
        position: absolute;
        top: 79%;
        left: 66%;
        transform: scale(1);
        border-color: rgb(217, 33, 98);
    }
    .circle-tabtabs .tab:nth-child(4) {
        position: absolute;
        top: 84%;
        left: 34%;
        transform: scale(1);
        border-color: rgb(255, 173, 65);
    }
    .circle-tabtabs .tab:nth-child(5) {
        position: absolute;
        top: 78%;
        right: 67%;
        transform: scale(1);
        border-color: rgb(137, 125, 193);
    }
    .circle-tabtabs .tab:nth-child(6) {
        position: absolute;
        top: 3%;
        right: 67%;
        transform: scale(1);
        border-color: rgb(8, 168, 240) !important;
    }
}

.ui-ux-design-company-div-section {
    width: 330px;
    .ui-ux-design-company-img-section {
        width: 200px !important;
        height: 120px;
        object-fit: contain;
    }
}
