/* .digitalmarketingagencycounter-main{
    background: #F0F0F0;
    padding: 30px 0;
}

.digitalmarketingagencycounter h2{
    color: #08203A;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.digitalmarketingagencycounter p{
    color: #444;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}


@media screen and (max-width:768px) {
.digitalmarketingagencycounter h2{
    font-size: 30px;}
}
 */
