h2 {
    color: #0B1225;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 700;
}
p {
    color: #7a7a7a;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.busnesscardhero {
    background: url('/webdads/images/businesscard/businesscard.webp');
    padding-bottom: 150px;
    padding-top: 150px;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
        font-size: 45px;
        color: #000;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        color: #000;
        font-weight: 500;
    }
    button {
        background: #fff;
        border-radius: 50px;
        color: #29aeaa;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 30px;
        border: 2px solid #fff;
    }
    button:hover {
        background: #0000;
        border: 2px solid #fff;
        color: #fff;
    }
}
.android-app-development-slider {
    margin-top: -50px;
    background: #fff;
}

.busbox{
    display: flex;
    align-items: center;
    padding: 35px 35px 35px 35px;
    background-color: #ffffff;
    box-shadow: 0px 27px 35px rgba(41, 41, 246, 0.09);
    border-radius: 5px;
    height: 200px;
    margin-top: 20px;
}

.busnimg{
    padding-right: 15px;
    img {
        width: 100px !important;
        min-width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f7f7f7;
        border: 5px solid #ffffff;
        box-shadow: 0px 22px 25.5px rgba(41, 41, 246, 0.13);
    }
}
.buscont {
    h3{
        color: #0B1225;
        font-family: "Poppins", Sans-serif;
        font-size: 22px;
        font-weight: 700; 
    }
}
.justcard .profess{
    h2{
        color: #0B1225;
        font-family: "Poppins", Sans-serif;
        font-size: 40px;
        font-weight: 700;
        max-width: 70%;
        margin: auto;
        padding-bottom: 20px;
    }
    p{
        max-width: 80%;
        margin: auto;
    }
    h5{
        color: #12AFD7;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
}

.ourwork{
  h3{
    background-image: linear-gradient(90deg, #65258A 0%, #E80566 100%);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    display: inline-block;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 30px;
  }
}
.bsihv {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition */
  border-radius: 5px;
}

.bsihv:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

 .modal-footer{
  display: none;
 } 
 .modal-content{
  background: transparent;
  border:0px
 }
.modal-body{
  button{
    font-size: 39px;
    background: transparent;
    border: 0px;
    color: #fff;
  }
}
.bsihv{
  margin-bottom: 20px;
}
.ourwork{
  button{
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    background-image: linear-gradient(90deg, #65258A 0%, #E80566 50%);
    border-radius: 5px 5px 5px 5px;
    padding: 15px 40px 15px 40px;
    border: none;
  }
}
.why-choose{
  h3{
    color: #12AFD7;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
  p{
    font-size: 20px;
  }
  svg{
    color:#12AFD7;
    margin-right: 5px;
  }
}

.businesscdr .shopify-weoffer{
  padding: 20px 20px 20px 20px;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(216, 214, 214, 0.7);
  text-align: center;
  height: 290px;
  margin-top:20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  h3{
      color: #4D4D4D;
      font-family: "Poppins", Sans-serif;
      font-size: 16px;
      font-weight: bold;
  }
  p{
      font-size: 14px;
      color: #7a7a7a;  
  }
 
}
.businesscdr .shopify-weoffer:hover{
  transform: translate3d(0, -15px, 10px) !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.looking-business{
  background-color: #12AFD7;
  padding-top:60px;
  padding-bottom: 60px;

  P{
      font-size: 18px;
      color: #fff;
  }
  button{
      background: #fff;
  font-size: #000;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  padding: 10px 30px;
  border:2px solid #fff;
  }
  button:hover{
      border:2px solid #fff;
      background:transparent;
      color:#fff;
  }
  h2{
      color: #FFF;
      font-family: "Poppins", Sans-serif;
      font-size: 45px;
      font-weight: 600;
  }
}

// Accordian

.FrequentlyAskedQuestions-Accordion .accordion-item{
  margin-bottom: 10px;
} 


.FrequentlyAskedQuestions-Accordion .accordion-button{
  color: rgb(0, 32, 96);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.FrequentlyAskedQuestions-Accordion .accordion-body{
  color: var(--e-global-color-text);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.frequentlyaskedquestions-main h1 {
  color: #0A1F5F;
  font-family: "Poppins", Sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 45px;
}

.FrequentlyAskedQuestions-Accordion .accordion-button{
  background: #fff;
  box-shadow: 4.045px 2.939px 4.5px rgba(51, 171, 191, 0.11);
}

.FrequentlyAskedQuestions-Accordion .accordion-button::after {
  // background-image: url(../../../public/webdads/images/android-app-development/plus-small.png);
  transition: all 0.5s;
  color: #08203A !important;
}
.FrequentlyAskedQuestions-Accordion .accordion-button:not(.collapsed)::after {
  // background-image: url(../../../public/webdads/images/android-app-development/munus-small.png);
  color: #08203A !important;
}
.FrequentlyAskedQuestions-Accordion .accordion-button::after {
  transition: all 0.5s;
}


@media screen and (max-width:768px){
  .busnesscardhero{
    h2{
      font-size: 22px;
    }
    p{
      font-size: 10px;
      line-height: 18px;
    }
  }
  .justcard .profess h2, .justcard .profess p {
  max-width: 100%;
  }
  .justcard .profess h2, .looking-business h2 {
    
  font-size:25px;
  }

  .busbox{
    display: block;
    height: auto;
    text-align: center;
    padding:15px;
  }
  .buscont h3{
    padding-top:20px;
  }
}
